@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --node-primary: 215 14% 34%;
    --node-secondary: 216 12% 84%;
    /* hsl value of #b860e4 */
    --theme-sololv: 0 0% 100%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: white;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --node-primary: 216 12% 84%;
    --node-secondary: 215 14% 34%;
    --theme-sololv: 0 0% 100%;
  }

  * {
    @apply border-border text-[15px];
  }

  body {
    @apply bg-background text-foreground;
  }

  h1, h2 {
    @apply w-fit px-2 py-1 font-bold mb-1;
  }

  h1 {
    @apply text-xl bg-theme-sololv text-background;
  }

  h2 {
    @apply border-b-4 border-r-4 border-b-theme-sololv border-r-theme-sololv;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .read-more {
    @apply absolute bottom-4 right-2 opacity-0 translate-x-[20px] transition-all duration-300 ease-in-out;
  }

  .card-blog:hover .read-more {
    @apply opacity-100 translate-x-0;
  }
}

/* pulse effect */
/* https://www.youtube.com/watch?v=PMGCOVfK-8s&t=1107s */

.pulse-icon {
  position: relative;
}

.pulse-icon::before,
.pulse-icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.pulse-icon::after {
  background-color: #0891b2;
  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.clipped-corner {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 0 100%);
}

.clipped-corner:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  background: rgb(0, 157, 255);
  z-index: -1;
}

.custom-tooltip .tooltip-legend {
  display: grid;
  text-wrap: nowrap;
  grid-template-columns: repeat(3, min-content);
  gap: 0 1rem; /* Tailwind equivalent of gap-4 */
  align-items: center;
}

.connected-node {
  @apply fill-node-primary;
}

.muted-node {
  @apply fill-muted;
}

.connected-link {
  @apply stroke-node-primary;
}

.muted-link {
  @apply stroke-muted;
}